node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# firebase data connect
skilled-f9f48-firebase-adminsdk-fbsvc-96674d1cfb.json
.firebase
dataconnect/.dataconnect
